@model List<Hemsida.Data.DAL.Product>
@{
    ViewBag.Title = "GetAllProducts";
}

<h2>All Products!</h2>
@foreach (var item in Model)
{
    <a href="@Url.Action("GetProductsByCategory", "Product", new {catId = item.CategoryId })">
        <div class="ItemCategory">
            @item.CategoryId
        </div>
    </a>
    <a href="@Url.Action("ProductPage", "Product", new {id = item.ProductId })">
        <div class="itemName">
            @item.Name
        </div>
    </a>

    <div class="itemPrice">
        @item.Price
    </div>
    <div class="itemImage">
        <img src="@Url.Action("OtherProfilePhoto", "Product", new { id = item.ProductId })" />
    </div>
    <div class="itemDesc">
        @item.ShortDescription
    </div>
    <br />
    <hr />
    <br />


}